.profile__avatar {
    width: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

@media screen and (min-width: 282px) and (max-width:768px) {
    .profile__avatar { 
        margin-right: 0;
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 281px) {
    .profile__avatar { 
        margin-right: 0;
        margin-bottom: 22px;
    }
}