.profile__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (min-width: 282px) and (max-width:768px) {
    .profile__info {
        justify-content: center;
    }
}

@media screen and (max-width: 281px) {
    .profile__info {
        justify-content: center;
    }
}